#AVIMControl {
	background-image: url('transparent.png');
	padding: 2px;
	border: 1px solid #5b958e;
	position: absolute;
	left: 200px;
	right: 200px;
	width: auto;
	BOTTOM: 0px;
	POSITION: absolute;
	TEXT-ALIGN: center;
	MARGIN-TOP: expression(0 - parseInt(this.offsetHeight / 500) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px'); 
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
}

body > #AVIMControl {
	position: fixed;
}

.AVIMControl {
	margin: 0;
	padding: 0;
	color: #137e70;
	font-family: Verdana, Tahoma;
	font-size: 10px;
	font-weight: bold;
}

a.AVIMControl {
	color: #b62727;
	text-decoration: none;
	cursor: pointer;
}

#AVIMControl input {
	vertical-align: middle;
}
